/* Navbar.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height:50px;
    padding: 10px 0px;
  }
  
  .navbar-container2 {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    width: 100%;
    height:50px;
  }

  .navbar {
    display: flex;
    align-items: center;
  }
  
  .logo-container {
    padding: 10px;
  }
  
  .logo {
    height: 50px; /* Thay đổi chiều cao theo ý muốn */
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding:0 35px;
    display: flex;
    align-items: center; /* Canh chỉnh thẻ a theo chiều dọc */
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .search-cart-container {
    display: flex;
    align-items: center;
    border-radius: 5% black;
  }
  
  .search-input { 
    padding: 10px;
    margin-right: 10px;
  }
  
  .cart-icon {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .cart-count {
    margin-left: 5px;
    font-size: 14px;
  }

  .menu_main {
    display: flex;
    list-style: none;
  }

  
  