/* Navbar.css */

.navbar-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  background-color: rgb(247, 248, 249); 
  padding: 10px; 
  height: 60px;
}

.logo-container img {
  width: 150px;
  height: 100px;
  padding-top: 35px;
}

.search-cart-container {
  display: flex;
  align-items: center; 
}

.search-input {
  margin-left: 10px; 
  padding: 5px; 
}


.navbar-container2 {
  background-color: #333; 
  padding: 10px; 
}

.menu_main {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_main li {
  display: inline-block; 
  margin-right: 10px; 
}

.menu_main a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
}

.menu_main a:hover {
  background-color: #ddd; /* Màu nền khi đưa chuột vào */
  color: black;
}

.sub_menu {
  display: flex; 
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu_main li:hover .sub_menu {
  display: flex; 
}
